body{
    background-color: #E6E6FA;
}

.container{
    background-color: #B0E0E6;
    max-width: 1200px;
    margin: 60px auto;
    height: 1250px;
    padding: 20px;
    box-shadow: 0 2px 20px rgba(0, 0, 0,0.3);
}

.center-table{
    margin: 0 auto;
    border-collapse: collapse;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th, .table td {
    width: 50%;
}

.table td, .table th {
    text-align: center;
}

.center-table th, .center-table td{
    text-align: center;
    vertical-align: middle;
}

.center-table img{
    max-width: 55%;
    height: auto;
    width: auto;
}

.footer{
    background: #B6B6B4;
}

.footer .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.footer .box-container .box{
    padding: 1rem;
    flex: 1 1 25rem;
}